extends layout

block content
    .splash-container
        .splash
            h1.splash-head Send Anonymous Letters With Monero
            p
                a.pure-button.pure-button-primary(href="/order") Create Your Order


