extends layout

block content
  h1= title
  h2 send an anonymous letter with Monero
  form#order.pure-form.pure-g(action="/order" method="post")
    .pure-u-1-3
      input(type="text" name="firstName" placeholder="First Name" required)
      input(type="text" name="lastName" id="lastName" placeholder="Last Name")
      input(type="text" name="address" id="address" placeholder="Address" required)
      input(type="text" name="address2" id="address2" placeholder="Address Line 2")
      input(type="text" name="city" id="city" placeholder="City" required)
      input(type="text" name="state" id="state" placeholder="State" required)
      input(type="text" name="zip" id="zip" placeholder="ZIP / Postal Code" required)
      input(type="text" name="country" id="country" placeholder="Country" required)
    .pure-u-2-3
      textarea(form="order" name="message" id="message" rows="22" placeholder="Your Message")
    .pure-u-1-3
    .pure-u-2-3
      button.pure-button.pure-button-primary(type="submit") Submit
