doctype html
html
  head
    title= title
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .pure-menu.pure-menu-horizontal.pure-menu-fixed.home-menu
      a.pure-menu-link.pure-menu-heading(href="/") Mystery Snail
      ul.pure-menu-list.right
        if !user
          li.pure-menu-item
            a.pure-menu-link(href="/order") Create
          li.pure-menu-item
            a.pure-menu-link(href="/track") Track
        if user
          li.pure-menu-item
            a.pure-menu-link(href="/settings") Settings
          li.pure-menu-item
            a.pure-menu-link(href="/logout") Logout
    .content-wrapper
        block content
    if !user
      .footer
        a(href="/terms") Terms of Service
