extends layout

block content
    .login
        fieldset
            legend Admin Login
            form#login.pure-form.pure-form-stacked(action="/login" method="post")
                label(for="username") Username
                input(type="text" name="username" id="username")
                label(for="password") Password
                input(type="password" name="password" id="password")
                button.pure-button.pure-button-primary(type="submit") Login
            if error
                p.error= error.message
            .pure-u-1-3