extends layout

block content
    h1 Terms Of Service:
    .content
        p Lorem ipsum dolor sit amet, morbi nulla erat, et ac lacus in, augue lacus semper purus nulla eu, pellentesque cras, consequatur consequat quis malesuada posuere sem arcu. Vestibulum malesuada purus donec elementum, id purus sodales diam placerat, posuere illum inceptos posuere nec, dui enim, in eros. Lectus justo tempor habitant, congue justo arcu nostra lacinia ipsum scelerisque. Libero donec volutpat faucibus rutrum massa, velit imperdiet. Congue turpis, varius sed, ipsum laoreet nec duis, ullamcorper vel ipsum elit in, tincidunt in laoreet eu habitasse tellus ante.