@import url(https://fonts.googleapis.com/css?family=Lato);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  min-height: 100%;
}

body {
  background-color: #1F8A70;
  margin: 0 0 100px;
}

/* MENU STYLES */

.pure-menu {
  background-color: #FD7400;
}

.pure-menu .right {
  float: right;
}

.pure-menu ul {
  text-transform: uppercase;
}

h1, h2 {
  text-align: center;
}

/* SPLASH STYLES */

.splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  border-radius: 5px;
  line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

/* CONTENT STYLES */
.content-wrapper {
  margin-top: 3.18em;
}

.content {
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
}

table {
  margin: auto;
}

#submit {
  margin-top: 0.5em;
}

#order {
  margin-left: 2em;
}

textarea {
  height: 10em;
  resize: none;
}

span {
  background-color: lightgrey;
}

.button-warning {
  background: rgb(202, 60, 60);
}

.confirm {
  margin-left: 1em;
}

.error {
  color: red;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  font-size: 87.5%;
  border-top: 1px solid #eee;
  margin-top: 3.4286em;
  padding: 1.1429em;
  background: rgb(250, 250, 250);
}
