@import url(https://fonts.googleapis.com/css?family=Raleway:200);

body {
  padding: 50px;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 200;
}

h1, h2 {
  text-align: center;
}

* -- PURE FORM STYLES --
* Style the form inputs and labels
*/
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

.pure-form textarea {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin: 0 1em;
}

.pure-form button {
  width: 100%;
  margin: 0 1em;
}
